<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>iSTAD Reading</title>

    <th:block th:replace="~{fragments/style}"/>

</head>

<body id="section_1">

<div th:replace="~{fragments/header}">

</div>

<div th:replace="~{fragments/nav}">
    <!--
        Nav will be replaced here.
    -->
</div>

<main layout:fragment="subtemplate">
    <!--
        Template will be replaced here...
    -->
</main>

<div th:replace="~{fragments/footer}">

</div>

<th:block th:replace="~{fragments/script}"/>

<th:block layout:fragment="template-script">
    <!--
        Write your template script here
    -->
</th:block>

</body>

</html>