<header class="site-header">

    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 d-flex flex-wrap">
                <p class="d-flex me-4 mb-0">
                    <i class="bi-geo-alt me-2"></i>
                    No. 24, St. 562, Sangkat Boeung kak I, Khan Toul Kork, Phnom Penh, Cambodia
                </p>

                <p class="d-flex mb-0">
                    <i class="bi-envelope me-2"></i>

                    <a href="mailto:info.istad@gmail.com">
                        info.istad@gmail.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                <ul class="social-icon">

                    <li class="social-icon-item">
                        <a th:href="@{https://www.fb.com/istad.co}" class="social-icon-link bi-facebook"></a>
                    </li>

                    <li class="social-icon-item">
                        <a th:href="@{https://t.me/istadkh}" class="social-icon-link bi-telegram"></a>
                    </li>

                    <li class="social-icon-item">
                        <a th:href="@{https://www.youtube.com/channel/UCUaq9S8Gu4zteE-x77JT-kA}" class="social-icon-link bi-youtube"></a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</header>